absl-py
jsonschema~=4.23.0
numpy<=2.0.2
pyyaml~=6.0.2
#requests~=2.32.3
#mock~=5.1.0
transformers~=4.51.3
sentencepiece~=0.2.0

# Medical imaging and data science packages
monai
nibabel
wandb

# Data science helpers
scikit-learn
pandas
tqdm
matplotlib
nltk

# Optional but often handy for HF fine-tuning
accelerate
datasets
xformers

-r ../data_accessors/requirements.in
-r serving_framework/requirements.in
-r serving_framework/triton/requirements.in